<div class="post-body">
    <h1><%= post.title %></h1>
    <small><%= post.date %></small>
    <ul>
        <% post.authors.forEach(author => { %>
        <li>
            <a href="<%= author.url %>"><%= author.name %></a>
        </li>
        <% }) %>
    </ul>
    <hr>
    <article>
        <%- post.contents %>
    </article>

</div>
